{% extends "base.html" %}

{% block title %}Conditions Page{% endblock %}

{% block content %}

<h2>Greenhouse Conditions</h2>
<form method="POST">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Condition</th>
            <th>Value (Click to Modify)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Temperature</td>
            <td><input type="number" step="0.1" name="temperature" value="{{ conditions.temperature }}"
                       class="form-control"> °C
            </td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td><input type="number" step="0.1" name="humidity" value="{{ conditions.humidity }}"
                       class="form-control"> %
            </td>
        </tr>
        <tr>
            <td>Water Level</td>
            <td><input type="number" step="0.1" name="water_level" value="{{ conditions.water_level}}"
                       class="form-control"> ml
            </td>
        </tr>
        <tr>
            <td>Soil Moisture</td>
            <td><input type="number" step="0.1" name="soil_moisture" value="{{ conditions.soil_moisture }}"
                       class="form-control"> %
            </td>
        </tr>
        <tr>
            <td>Light Intensity</td>
            <td><input type="number" step="0.1" name="light_intensity" value="{{ conditions.light_intensity }}"
                       class="form-control"> lux
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save Conditions</button>
</form>
<br>
<a href="/greenhouse" class="btn btn-secondary">Back to Greenhouse Page</a>
{% endblock %}
