{% extends "base.html" %}

{% block title %}Greenhouse Homepage{% endblock %}

{% block content %}

<h2>Welcome Back,</h2>
<h2>Greenhouse Details</h2>
<div class="card text-bg-dark" style="max-width: 50rem;">
    <img src="{{ url_for('static', filename='upload_imgs/current/now.jpg') }}" class="card-img" alt="current view">
    <div class="card-img-overlay">
        <h5 class="card-title">
            <div class="spinner-grow text-danger spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            Current View
        </h5>
        <!--<p class="card-text"><small>Last updated 3 mins ago</small></p>-->
        <p class="card-text"><small id="timeCounter">Last updated 0 seconds ago</small></p>
    </div>
</div>
<br>
<table class="table table-striped caption-top">
    <caption>
        <div class="spinner-grow text-danger spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        Live Stats
    </caption>
    <thead>
    <tr class="table-success">
        <th>Param</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for param, value in conditions.items() %}
    <tr>
        <td>{{ param.replace('_', ' ').title() }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="/greenhouse/conditions" class="btn btn-primary">Check Conditions</a>

<script>
    let startTime = new Date().getTime(); // Record the time when the page loads

    function updateTime() {
      let now = new Date().getTime(); // Get current time
      let elapsed = Math.floor((now - startTime) / 1000); // Time in seconds since page load

      let minutes = Math.floor(elapsed / 60); // Convert seconds to minutes
      let seconds = elapsed; // Get remaining seconds

      // Update the timeCounter element with the new time
      document.getElementById('timeCounter').innerText = `${seconds} seconds ago`;
    }

    // Update the counter every second
    setInterval(updateTime, 1000);
</script>
{% endblock %}