{% extends "base.html" %}

{% block title %}GMS Home Page{% endblock %}

{% block content %}

<h2>Welcome to the GMS Home Page</h2>
<p>Navigate to the pages for more information on your greenhouse.</p>
<br><br>
<p class="lead">The Garden/Greenhouse Monitoring System project aims to create an automated, solar-powered solution to optimize plant
    growth in greenhouses. This system integrates environmental sensors to monitor key parameters like soil moisture,
    temperature, humidity, light intensity, and CO₂ levels. It uses IoT-enabled Raspberry Pi controllers for real-time
    data collection and automated responses, such as irrigation and ventilation adjustments. A user-friendly web-based
    interface allows for remote monitoring, manual irrigation, and live visual feeds. By leveraging solar power for
    energy efficiency, the system ensures reliability and accessibility while reducing maintenance, aligning with the
    goal of improving greenhouse farming efficiency and sustainability.</p>

{% endblock %}